{% extends 'layout.html' %}

{% block title %}

 {% if updatebrands %}
     updatebrands
 {% else %}
     updatecategorys
 {% endif %}
    
{% endblock  %}



{% block content %}

<div class="container">
 <div class="row">
    <div class="col-md-3"></div> 
    <div class="col-md-6">
        {% include '_messages.html' %}
    {% if updatebrands %}
       
        <h1 class="text-center mt-5"> Update Brand</h1>
        <form action="" class="mt-3" method="POST">
            
            <input type="text" name ="brand" value = "{{updatebrands.name}}" class="form-control border-dark">
            

            <input type ="submit" value="Update brand " class ="btn btn-primary mt-2 border-dark ">
             <a type="button" href="{{url_for('brands')}}"  class ="btn btn-dark mt-2" > Cancel </a>
        </form>
    {% else %}
       {% include '_messages.html' %}
        <h1 class="text-center mt-5"> update Category </h1>
        <form action="" class="mt-3" method="POST">
            <input type="text" name="category" value = "{{ updatecategorys.name}}" class="form-control border-dark">
            <input type ="submit" value="add Category " class ="btn btn-primary mt-2 border-dark ">
            <a type="button" href="{{url_for('categorys')}}"  class ="btn btn-dark mt-2" > Cancel </a>
        </form>
            

    {% endif  %}
    </div> 
    
    <div class="col-md-3"></div> 
    </div> 

   
   
     
  
    </div>
 
    
{% endblock  %}