{% extends 'layout.html' %}
{% block title %}
   Admin dashboard
{% endblock  %}




{% block content %}

 <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}"><b>Foxsheep</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('admin') }}">Admin</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('addproduct') }}">Add product</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('brands') }}">Brands</a>
          </li>
         <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('categorys') }}">Category</a>
          </li>
        </ul>
  <div>
      <a href="{{url_for('Logout')}}" type="button"  class="btn btn-outline-danger">Logout</a>
  </div>
<div>

</div>      

            </div>
    </div>
  </nav>
      
      

<div class="container">
  {% include '_messages.html' %}

  <table class="table table-striped table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">Sr.no</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">discount</th>
        <th scope="col">Category</th>
        <th scope="col">Brands</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for product in  products  %}
      <tr>
        <td >{{loop.index}}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.discount }}</td>
        <td>{{ product.category.name}}</td>
        <td>{{ product.brand.name}}</td>
        <td><img src="{{ url_for('static', filename='images/' + product.image1) }}" width="40" height="35"></td>
        <td> <a type="button" class="btn btn-outline-dark btn-sm" href="{{url_for('updateproduct', id= product.id )}}">Edit</a>  </td>
        <td> <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{product.id}}">
             Delete
        </button>
        </td>
      </tr>
      <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop-{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete the Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <p> Are you sure , you want to delete {{product.name}}</p>
      </div>
      <div class="modal-footer">
        
        <form action="{{url_for('deleteproduct' , id =product.id)}}" method="POST" >
        <button type="Submit" class="btn btn-outline-danger">Delete</button>
         </form>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    {% endfor %}
    </tbody>
  </table>

  
</div>




 </div>
{% endblock  %}